<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/opRegistro.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/Dizq_logo.png">
    <title>Option Register - FarAway</title>
</head>
<body>
    <header>
            <img src="{{url_for('static', filename='img/Dizq_logo.png')}}">
    </header>
    <h2>
        Selecciona tipo de usuario para su registro
    </h2>

    <div class="cont_options">
        
            <button id="option1" class="cont_option1">
                <div class="cont_img1"">
                    <img src="{{url_for('static', filename='img/OnePerson.png') }}" alt="Current user">
                </div>
                <div class="text_option1">
                    <p>Turista<br>Usuario Corriente</p>
                </div>
            </button>

            <button id="option2" class="cont_option2">
                <div class="cont_img2">
                    <img src="{{url_for('static', filename= 'img/ThreePersons.png')}}" alt="Guide user">
                </div>
                <div class="text_option2"">
                    <p>Guía Turístico<br>Prestador de servicio</p>
                </div>
            </button>

    </div>

    <div class="cont_button">
        <button class="button">
            Siguiente
        </button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let option1 = document.getElementById('option1');
            let option2 = document.getElementById('option2');
    
            function selectOption(selectedOption) {
                if (selectedOption.classList.contains('selected')) {
                    selectedOption.classList.remove('selected');
                } 
                else {
                    if (selectedOption === option1) {
                        option1.classList.add('selected');
                        option2.classList.remove('selected');
                    } 
                    else {
                        option2.classList.add('selected');
                        option1.classList.remove('selected');
                    }
                }
            }
    
            option1.addEventListener('click', function() {
                selectOption(option1);
            });
    
            option2.addEventListener('click', function() {
                selectOption(option2);
            });
        });
    </script>

</body>
</html>